# Byte-compiled / optimized / DLL files
**/__pycache__/

# Sphinx documentation
docs/_build/

docs/auto_examples/searchindex.bak
docs/auto_examples/searchindex.dat
docs/auto_examples/searchindex.dir

hologradpy.egg-info/