article .sidebar.animation {
    width: 21.5%;
}

article .sidebar.animation ~ .sd-container-fluid {
    clear: right;
}

article .sidebar.animation > a {
    display: block;
    padding-bottom: 1rem;
}
